* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.2rem;
}

nav {
  position: fixed;
  background-color: #000;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 0 20px;
}

.input-group {
  display: grid;
  margin: 0 2em;
  padding-top: 7em;
}

.input, .content {
  font-family: inherit;
  padding: .5em;
  margin-bottom: 1em;
  border: 1px solid #000;
  border-radius: 2px;
}

.content {
  height: 20em;
  width: 100%;
  resize: none;
}

.button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.2rem;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    padding: 12px 50px;
  }
}

.posts {
  margin: 0 2em;
  padding-top: 6em;
}

/* #submit {
    padding: .75em;
    font-family: inherit;
    font-size: 1.2rem;
    cursor: pointer;
} */

h1 {
  margin-left: 0.45em;
  font-size: 3rem;
  color: #fff;
}

h2 {
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

hr {
  border: 1.25px solid #000;
  margin: 3em 0;
}

@media (min-width: 750px) {
  .posts,
  .input-group {
    margin: 0 auto;
  }

  .posts {
    width: 55%;
  }

  .input-group {
    width: 40%;
  }
}
