* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.2rem;
}

nav {
  position: fixed;
  background-color: #000;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 0 20px;
}

.input-group {
  display: grid;
  margin: 0 2em;
  padding-top: 7em;
}

.input, .content {
  font-family: inherit;
  padding: .5em;
  margin-bottom: 1em;
  border: 1px solid #000;
  border-radius: 2px;
}

.content {
  height: 20em;
  width: 100%;
  resize: none;
}

.posts {
  margin: 0 2em;
  padding-top: 6em;
}

#submit {
    padding: .75em;
    font-family: inherit;
    font-size: 1.2rem;
}

h1 {
  margin-left: 0.45em;
  font-size: 3rem;
  color: #fff;
}

h2 {
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

hr {
  border: 1.25px solid #000;
  margin: 3em 0;
}

@media (min-width: 750px) {
  .posts,
  .input-group {
    margin: 0 auto;
  }

  .posts {
    width: 55%;
  }

  .input-group {
    width: 40%;
  }
}
